*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: black;
}
h1, h3, ul, .nombre, label{
    color: white;
    margin-top: 0.5rem;
}

p{
    color: white;
    margin-top: 0.5rem;
    font-size: 1rem;
}

button{
    background-color: red;
    color: white;
    width: 15rem;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 1rem;
    border: none;
    text-align: center;

}

#btnSuma, #btnResta, #btnMultiplica, #btnDivide, #btnAgreUsuario, #btnElimUsuario, #btnModiUsuario, #btnListUsuario{
    background-color: green;
    text-align: center;
    color: white;
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
    margin-left: 0.5%;    
    border-radius: 0.5rem;
}

#button1, #button2, #button3{
    background-color: blue;
    text-align: center;
    color: white;
    width: 9rem;
    height: 1.5rem;
    margin-top: 1rem;
    margin-left: 1%;    
    border-radius: 0.5rem;
}

#inputCalcu, #inputCalcu2{
    background-color: #700049;
    color: white;
    border-radius: 1rem;
    width: 5rem;
    height: 1.5rem;
    margin-left: 2rem;
    margin-top: 0.5rem;
}

#inputUsuarios1, #inputUsuarios2, #inputUsuarios3, #inputUsuarios4, #inputUsuarios5{
    background-color: #700049;
    color: white;
    border-radius: 1rem;
    width: 8rem;
    height: 1.5rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

label {
    margin-right: 0.2rem;
}